* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft Yi Baiti Bold", Futura, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #422e07;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

span {
  font-family: "Microsoft Yi Baiti Regular";
  font-size: 43px;
  cursor: pointer;
  display: none;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a.active {
  color: #00AEEF; 
  font-weight: bold; 
}

header nav ul li a:hover {
  color: #00AEEF;
}

#language-selector {
  padding: 5px;
  font-size: 16px;
  margin-top: -30px;
  margin-left: 70rem;
  position: absolute;
  border: none;
  color: #ffffff;
  background-color: #1b75bc;
  width: auto;
  outline: none;
}


@media only screen and (max-width: 767px) {
  span {
    display: block;
  }

  header nav ul {
    display: none;
  }

  header nav ul.nav-active {
    display: block;
  }
}

.hero {
  background-image: url('iR-cover.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  padding: 100px 0;
  text-align: center;
  margin-top: 100px;
  color: #e6ffff;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.hero h2 {
  margin-bottom: 20px;
}

.welcome-word{
  font-size: 30px;
}

.btn {
  display: inline-block;
  background-color: #1b75bc;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #00AEEF;
  transition: 0.8s;
}



/* courses */
.courses {
  margin-top: 50px;
  position: relative;
  padding: 50px 0;
  background-color: #f5f5f5;
}

.containerCourses {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.circle, .circle2, .circle3, .circle4 {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.circle {
  width: 150px;
  height: 150px;
  top: -50px;
  left: -50px;
}

.circle2 {
  width: 100px;
  height: 100px;
  top: 100px;
  right: -50px;
}

/* .circle3 {
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
} */

.circle4 {
  width: 120px;
  height: 120px;
  bottom: 50px;
  right: 50px;
}

.course-header {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #333;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-top: 3px solid #ffa800;
}

.course-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
}

.course-card p {
  flex-grow: 1;
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* end courses */

footer {
  background-color: #231f20;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.about {
  padding: 50px 0;
}

.about h2 {
  margin-bottom: 20px;
  margin-top: 100px;
}

.about p {
  margin-bottom: 10px;
}

.about ul {
  list-style: none;
}

.about ul li {
  margin-bottom: 5px;
}

.mission {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
  border-top-right-radius: 10px;
}

/* mession */
        /* Mission section */
        .content-section {
          padding: 50px 0;
          background-color: #fff;
      }

      .mission {
          text-align: center;
      }

      .mission h2 {
          color: #333;
      }

      .mission p {
          color: #666;
          max-width: 800px;
          margin: 0 auto;
      }

      hr {
          border: 1px solid #ddd;
          margin: 40px 0;
      }

      /* Mission cards */
      .mission-cards {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          gap: 20px;
          margin-top: 40px;
      }

      .mission-card {
          background: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          text-align: center;
      }

      .mission-card i {
          font-size: 3em;
          color: #00AEEF;
          margin-bottom: 20px;
      }

      .mission-card h3 {
          font-size: 1.5em;
          margin-bottom: 15px;
          color: #333;
      }

      .mission-card p {
          color: #666;
      }
/* end mission */

/* Why Choose Us section */
        .content-section {
          padding: 50px 0;
          background-color: #fff;
      }

      .why-choose-us {
          text-align: center;
      }

      .why-choose-us h2 {
          color: #333;
      }

      .why-choose-us p {
          color: #666;
          max-width: 800px;
          margin: 0 auto;
      }

      hr {
          border: 1px solid #ddd;
          margin: 40px 0;
      }

      .benefit-cards {
          display: grid;
    
          gap: 20px;
          margin-top: 40px;
      }

      .benefit-card {
          background: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          text-align: center;
          border-top: 3px solid #ff4500;
      }

      .benefit-card i {
          font-size: 3em;
          color: #007BFF;
          margin-bottom: 20px;
      }

      .benefit-card h3 {
          font-size: 1.5em;
          margin-bottom: 15px;
          color: #333;
      }

      .benefit-card p {
          color: #666;
      }

      /* end */
.contact {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
}
.contact .fas{
  margin-top: 40px;
  font-size: 50px;
}

.mission h2 {
  color: #1b75bc;
  margin-bottom: 20px;
}


.team {
  background-color: #ffffff;
  padding: 100px 0;
  text-align: center;
}

.team h2 {
  color: #1b75bc;
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 40px;
}

.team-member img {
  border-radius: 50%;
  max-width: 150px;
  border: 5px solid #1b75bc;
}

.team-member h3 {
  color: #1b75bc;
  margin-top: 20px;
}

.team-member p {
  color: #808080;
}

.contact h2 {
  color: #1b75bc;
  margin-bottom: 20px;
 
}

form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 150px;
}

input[type="submit"] {
  background-color: #1b75bc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0d4a75;
}

/* Footer Styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
  font-size: 12px;
}

.information {
  margin: 50px;
  padding: 20px 50px;
  display: flex;
  color: #1b75bc;
  font-size: 24px;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 60px;
  box-shadow: 0px 0px 122px;
  opacity: 60%;
  transition: 0.7s;
}
.information:hover{
  background-color: #00AEEF ;
  color: #ffffff;
}
.footer-content {
  display: flex;
  align-items: center;
}

.logo2 {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  opacity: 0.5;
}

.logo2 img {
  width: 100%;
  height: auto;
}

.about {
  flex: 1;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media,
.helpful-links,
.contact-info {
  flex-basis: calc(33.333% - 20px);
}

.social-media h3,
.helpful-links h3,
.contact-info h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}

.helpful-links ul {
  list-style: none;
  padding: 0;
}

.helpful-links ul li {
  margin-bottom: 10px;
}

.helpful-links ul li a {
  color: #fff;
  text-decoration: none;
}
.helpful-links ul li a:hover {
  color: #00AEEF;
  transition: 0.5s;

}

.contact-info p {
  margin-bottom: 5px;
}

.footer-divider {
  border-top: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b75bc;
  color: #fff;
  padding: 20px 0;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000; /* Ensure the header appears above other content */
}

/* .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ff4500;
  background-color: transparent; 
}
.circle2 {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  border-radius: 50%;
  background-color: #1B75BC;
}
.circle3 {
  width: 50px;
  height: 50px;
  margin-left: 400px;
  border-radius: 50%;
  border: 5px solid #ffa800;
}

.circle4 {
  width: 50px;
  height: 50px;
  margin-left: 600px;
  border-radius: 50%;
  background-color:#00AEEF;
} */
@media only screen and (max-width: 767px) {
  .information,  .circle,
  .circle2,
  .circle3,
  .circle4,#language-selector {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    flex-direction: column;
  }

  .footer-columns {
    flex-direction: column;
  }
  .circle,
  .circle2,
  .circle3,
  .circle4,
  .social-media,
  .helpful-links,
  .contact-info,#language-selector {
    margin-bottom: 20px;
  }
}
