* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Microsoft Yi Baiti Bold", Futura, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #422e07;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

span {
  font-family: "Microsoft Yi Baiti Regular";
  font-size: 43px;
  cursor: pointer;
  display: none;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #00AEEF;
}

@media only screen and (max-width: 767px) {
  span {
    display: block;
  }

  header nav ul {
    display: none;
  }

  header nav ul.nav-active {
    display: block;
  }
}

.hero {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
  margin-top: 100px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.hero h2 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #1b75bc;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #00AEEF;
  transition: 0.8s;
}

.courses {
  padding: 50px 0;
  margin-top: 100px;
}

.course {
  margin-bottom: 40px;
}

.course img {
  max-width: 100%;
}

.course-header {
  color: #ff4500;
}

.course .course-heading {
  color: #ffa800;
}

footer {
  background-color: #231f20;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.about {
  padding: 50px 0;
}

.about h2 {
  margin-bottom: 20px;
  margin-top: 100px;
}

.about p {
  margin-bottom: 10px;
}

.about ul {
  list-style: none;
}

.about ul li {
  margin-bottom: 5px;
}

.mission {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
  border-top-right-radius: 10px;
}

.contact {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
}

.mission h2 {
  color: #1b75bc;
  margin-bottom: 20px;
}

.team {
  background-color: #ffffff;
  padding: 100px 0;
  text-align: center;
}

.team h2 {
  color: #1b75bc;
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 40px;
}

.team-member img {
  border-radius: 50%;
  max-width: 150px;
  border: 5px solid #1b75bc;
}

.team-member h3 {
  color: #1b75bc;
  margin-top: 20px;
}

.team-member p {
  color: #808080;
}

.contact h2 {
  color: #1b75bc;
  margin-bottom: 20px;
  margin-top: 100px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 150px;
}

input[type="submit"] {
  background-color: #1b75bc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0d4a75;
}

/* Footer Styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
  font-size: 12px;
}

.information {
  margin: 120px;
  padding: 20px 50px;
  display: flex;
  color: #1b75bc;
  font-size: 24px;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 60px;
  box-shadow: 0px 0px 122px;
  opacity: 60%;
}

.footer-content {
  display: flex;
  align-items: center;
}

.logo2 {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  opacity: 0.5;
}

.logo2 img {
  width: 100%;
  height: auto;
}

.about {
  flex: 1;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media,
.helpful-links,
.contact-info {
  flex-basis: calc(33.333% - 20px);
}

.social-media h3,
.helpful-links h3,
.contact-info h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}

.helpful-links ul {
  list-style: none;
  padding: 0;
}

.helpful-links ul li {
  margin-bottom: 10px;
}

.helpful-links ul li a {
  color: #fff;
  text-decoration: none;
}

.contact-info p {
  margin-bottom: 5px;
}

.footer-divider {
  border-top: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-top: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b75bc;
  color: #fff;
  padding: 20px 0;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000; /* Ensure the header appears above other content */
}

@media only screen and (max-width: 767px) {
  .information {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    flex-direction: column;
  }

  .footer-columns {
    flex-direction: column;
  }

  .social-media,
  .helpful-links,
  .contact-info {
    margin-bottom: 20px;
  }
}
